!!! 5
html
  head
    title= title
    block meta

    block scripts
      script(src='http://code.jquery.com/jquery-1.7.1.min.js')
      script(src='http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js')

    block styles
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css')

  body
    block content
